.images-container{
    background: #674896;
    width: 100%;
    height: 95vh;
    border-bottom: white solid 12px;
}

.text-image h1{
    color: white;
    text-align: center;
    padding: 5rem 0 0 0 ;
}

.text-image{
    width: 100%;
    display: grid;
    
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5rem;

    align-items: center;
}
.text-image img{
    width: 30vh;
    height: 30vh;
    align-items: center;
    margin: 0;
    border-radius: 1rem;
}